.footer__column{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 0 10px;
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
    
    
}
.footer__column > h2{
    font-family: monospace;
    
}
.footer__column > h2 a{
    text-decoration: none;
}
.footer__column >p{
    font-weight: 400;
    font-size: 14px;
    padding: 3px;
}
.footer__column >p a{
    text-decoration: none;
}