.login{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    background-size: 400% 400%;
    background: linear-gradient(93deg, rgba(58,61,180,1) 0%, rgba(56,184,227,0.8813900560224089) 50%, rgba(252,69,69,1) 100%);
    animation: gradient 10s ease infinite;
}

@keyframes gradient{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.login__image{
    margin-top: 5px;
    margin-bottom: 2px;
    object-fit: contain;
    width: 270px;
    height: 220px; 
    margin-left: auto;
    margin-right: auto;
}
.login__container{
    width: 300px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 1px solid rgb(179, 176, 176);
    border-radius: 5px;
    padding: 20px;
    background: white;
}
.login__container >h1{
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.login__container >form>h5{
    margin-bottom: 5px;
}
.login__container> form> input{
    height: 28px;
    margin-bottom: 10px;
    width: 97%;
    background-color: white;
}
.login__container> p{
    margin-top:  7px;
    margin-bottom: 5px;
    font-size: 15px;
}
.login__button{
    background: rgb(243, 183, 19);
    color: rgb(3, 3, 3);
    height: 37px;
    font-size: 18px;
    width: 100%;
    border: 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    border-color:  #a88734 rgb(167, 126, 23) #846a29;
}
.create__account{
    height: 30px;
    font-size: 15px;
    width: 100%;
    border: 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    border-color: darkgray;
}
