.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(236, 233, 227);
    height: 130px;
    width: 330px;
    padding:25px;
    margin-left: 40px;
    border: 1px solid rgb(221, 219, 219);
    border-radius: 4px;

}
.subtotal__gift{
    display: flex;
    align-items: center;
}
.gift_check{
    margin-right: 5px;
}
.proceed__checkout{
    background: rgb(255, 191, 14);
    color: rgb(22, 21, 21);
    height: 40px;
    font-size: 18px;
    width: 100%;
    border: 1px solid;
    border-radius: 2px;
    margin-top: 5px;
    border-color:  #a88734 rgb(167, 126, 23) #846a29;
    
}